<article class="post">
    <div>
        <div>
            <div>
                <a href="/post/{{id}}" class="links">{{title}}</a>
            </div>
            <div>
                <p id="commentSub">
                    Posted by <b>{{user.username}} </b> on <b>{{dateFormat created_at}}</b>
                </p>
            </div>
        </div>
        <div>
            <p>{{content}}</p>
        </div>
    </div>
</article>